body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #4e5762a9;
    font-family: Arial, sans-serif;
}

h2 {
    margin-bottom: 20px;
}

.form-container {
    max-width: 400px;
    padding: 20px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 10px;
}

label {
    display: block;
}

input[type="text"] {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn-voltar {
    float: right;
    background-color: transparent;
    color: #000;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

.btn-enviar {
    background-color: #d45507;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.btn-enviar:hover {
    background-color: #c23e05;
}
