body {
    background-color: #b2b1ffa9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    background-color: white;
    padding: 40px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .container h2 {
    margin-bottom: 20px;
    color: #002c74;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
  }
  
  .form-group input[type="text"],
  .form-group input[type="password"] {
    background-color: #f5f5f5;
    color: black;
  }
  
  .form-group input[type="button"] {
    background-color: #002c74;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .form-group input[type="button"]:hover {
    background-color: #404855;
  }
  